@use '../../../styles/settings/colors' as c;
@use '../../../styles/settings/spacings' as s;
@use 'sass:map';

.portfolio {
  padding: map.get(s.$spacings, 'xl');
}

.grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: map.get(s.$spacings, 'md');
  margin-top: map.get(s.$spacings, 'lg');
}

.card {
  padding: map.get(s.$spacings, 'md');
  border: 1px solid c.$accent;
  border-radius: 8px;
}
