@use '../../../../../styles/abstracts/index' as *;

.footer {
  border-top: 1px solid $border;
  padding: 2rem 4rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: $surface;
  position: relative;
  z-index: 1;

  @include respond-to(md) {
    flex-direction: column;
    gap: 0.5rem;
    text-align: center;
    padding: 1.5rem;
  }
}

.left {
  font-family: $font-mono;
  font-size: 0.7rem;
  color: $muted;
  letter-spacing: $ls-md;
}

.right {
  font-family: $font-mono;
  font-size: 0.7rem;
  color: $muted;
  letter-spacing: $ls-md;

  a {
    color: $accent;
    text-decoration: none;
  }
}
